<!-- productlist.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>
  <% if (productsList.length === 0) { %>
    <p>No products found.</p>
  <% } else { %>
    <ul>
      <% productsList.forEach((product) => { %>
        <li>
          <h3><%= product.productName %></h3>
          <p>Price: <%= product.price %></p>
          <img src="<%= product.imageUrl %>" alt="<%= product.productName %> Image">
          <p>Upload Date: <%= product.uploadDate %></p>
          <p>End Date: <%= product.endDate %></p>
          <p>ProductId: <%= product.productId %></p>
        </li>
      <% }); %>
    </ul>
  <% } %>
</body>
</html>
